services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "3001:3001"

  frontend:
    build: .
    container_name: frontend
    ports:
      - "5173:5173"
    command: ["npm", "run", "dev", "--", "--host"]
    depends_on:
      - backend